.navbar {
  background-color: #373b69;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      color: #fff;
    }
    h1 {
      background: linear-gradient(
        to right,
        rgb(144, 206, 161),
        rgb(1, 180, 228)
      );
      padding: 5px;
      border-radius: 20px;
    }
    &__right {
      display: flex;
      align-items: center;
      a {
        margin-right: 30px;
        &:hover {
          color: rgb(1, 180, 228);
          transition: all 0.3s ease-out;
        }
      }
    }

    input {
      width: 180px;
      border-radius: 50px;
      height: 40px;
      border: 1px solid #22254b;
      outline: none;
      background: transparent;
      padding: 10px;
      color: white;
    }
  }
}
