@import "./navbar.scss";
@import "./movieDetails.scss";
@import "./create.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
}
.moviedetails {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__detail {
      margin-block: 30px;
      font-size: 30px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: rgb(1, 180, 228);
    }
  }
}
